<form action='/checkout' method='post'>
  <input type='text' name='item'>
  <input type='submit' id='submit'>
</form>

<% if @session.has_key? :item %>
    <h3>Hero Name: <%= member.name %></h3>
    <h4>Hero Power: <%= member.power %></h4>
    <h4>Hero Biography: <%= member.bio %></h4>
  <% end %>